<ion-header>
  <ion-toolbar>
    <ion-title>Root Tree</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node" cdkTreeNodeToggle>
      <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" cdkTreeNodeToggle>
          {{treeControl.isExpanded(node) ? '^' : '>'}}
      </button>
      {{node.name}}
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</ion-content>
