<ion-header>
  <ion-toolbar>
    <ion-title>Root Tree</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <mat-tree [dataSource]="flatdataSource" [treeControl]="flatTree" cdkDropList (cdkDropListDropped)="drop($event)" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
        <button mat-icon-button disabled></button>
        {{node.nodename}}
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
        <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                [attr.aria-label]="'toggle ' + node.nodename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.nodename}}
      </mat-tree-node>
    </mat-tree>
</ion-content>
