<ion-header>
  <ion-toolbar>

      <ion-title class='ion-text-center'>musicgallery</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="songFilter"></ion-searchbar>

  <ion-reorder-group disabled="false">
  <ion-list *ngFor="let item of musiclist | filter:songFilter">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ item.band}}</ion-card-subtitle>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.desc}}
        </ion-card-content>
        <ion-button (click)='openMusic($event, item.name, item.band, item.url)'>Play Music</ion-button>
        <ion-reorder ></ion-reorder>
      </ion-card>


  </ion-list>
  </ion-reorder-group>
  <div  class='ion-text-center'>
    <ion-button (click)='addMusic($event)' (addedNewMusic)="insertMusic(musiclist)">Add Music</ion-button>
  </div>
  </ion-toolbar>
</ion-content>
